function Main.main 1
push local 0
pop local 0
push local 0
call SquareGame.run 1
pop temp 0
push local 0
call SquareGame.dispose 1
pop temp 0
push constant 0
return
function Main.test 4
push local 0
not
if-goto label.if.alternative.0
push local 0
pop local 2
push local 1
pop local 2
push local 3
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto label.if.end.1
label label.if.alternative.0
push local 0
pop local 0
label label.if.end.1
push constant 0
return
